<script src="https://cdn.tiny.cloud/1/neb5s000y4p5qfvfo9mneq7pegvnk02gllai6dn75zzw2f9c/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<div class="container">
    <div class="mt-4">
        <h2>Update article</h2>
        <form method="POST" action="/news/{{news._id}}?_method=PUT">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" value="{{news.title}}" id="title" name="title" >
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" value="{{news.description}}" id="description" name="description">
            </div>
            
             <div class="form-group">
                <label for="detaildescription">Detail description</label>
                <textarea class="form-control description" id="detaildescription" name="detaildescription">{{news.detaildescription}}</textarea>
            </div>

            <div class="form-group">
                <label for="image">Image</label>
                <input type="text" class="form-control" value="{{news.image}}"  id="image" name="image">
            
            </div>

            <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control" value="{{news.author}}"  id="author" name="author">
            
            </div>

            
        
            <button type="submit" class="btn">Update</button>
        </form>
    </div>
</div>

 <script>
     tinymce.init({
      selector: 'textarea',
       plugins:[
        'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'prewiew', 'anchor', 'pagebreak',
        'searchreplace', 'wordcount', 'visualblocks', 'code', 'fullscreen', 'insertdatetime', 'media', 
        'table', 'emoticons', 'template', 'codesample'
    ],
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat' + 
    'link image | print preview media fullscreen | ' +
    'forecolor backcolor emoticons',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
      mergetags_list: [
        { value: 'First.Name', title: 'First Name' },
        { value: 'Email', title: 'Email' },
      ],
      ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant"))
    });
  </script>
