<script src="https://cdn.tiny.cloud/1/neb5s000y4p5qfvfo9mneq7pegvnk02gllai6dn75zzw2f9c/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<div class="container">
    <div class="mt-4">
        <h2>Update doctor</h2>
        <form method="POST" action="/doctor/{{doctors._id}}?_method=PUT">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" value="{{doctors.name}}" id="name" name="name" >
            </div>

            {{!-- <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description">{{news.description}}</textarea>
            </div> --}}
            <div class="form-group">
                <label for="speciality">Speciality</label>
                <input type="text" class="form-control" value="{{doctors.speciality}}"  id="speciality" name="speciality">
            
            </div>

            <div class="form-group">
                <label for="tel">Tel</label>
                <input type="text" class="form-control" value="{{doctors.tel}}"  id="tel" name="tel">
            
            </div>

            <div class="form-group">
                <label for="image">Image</label>
                <input type="text" class="form-control" value="{{doctors.image}}"  id="image" name="image">
            
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <textarea class="form-control" id="address" name="address" data-address="{{doctors.address}}">{{doctors.address}}</textarea>
            
            </div>

            <div class="form-group">
                <label for="map">Map</label>
                <input type="text" class="form-control" value="{{doctors.map}}"  id="map1" name="map">
            
            </div>


            <div class="form-group">
                <label for="schedule">Schedule</label>
                <input type="text" class="form-control" value="{{doctors.schedule}}"  id="schedule" name="schedule">
            
            </div>

            <div class="form-group">
                <label for="presentation">Presentation</label>
                <textarea class="form-control description" id="presentation" name="presentation" data-presentation="{{doctors.presentation}}">{{doctors.presentation}}</textarea>
            </div>

          
        
            <button type="submit" class="btn">Update</button>
        </form>
    </div>
</div>



 <script>
     tinymce.init({
      selector: 'textarea',
       plugins:[
        'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'prewiew', 'anchor', 'pagebreak',
        'searchreplace', 'wordcount', 'visualblocks', 'code', 'fullscreen', 'insertdatetime', 'media', 
        'table', 'emoticons', 'template', 'codesample'
    ],
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat'  + 
    'forecolor backcolor emoticons',
      menu: {
        favs: {title: 'menu', items: 'code visualaid | searchreplace | emoticons'}
      },
      menubar: 'favs file edit view insert format tools table',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
      mergetags_list: [
        { value: 'First.Name', title: 'First Name' },
        { value: 'Email', title: 'Email' },
      ],
      ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant"))
    });
  </script>
