  
  <div class="container">

      <h1 class="heading-1">INTERNAL MEDICINE</h1>
      <div class="sub-heading">
        
      </div>
                <div class="row">
                    {{#each internalmedicines}}
                    <div class="col-sm-6 col-lg-4">
                        <div class="card1 card-top-item">
                            <a href="/internalmedicine/{{this.slug}}"><img class="card-img-top" src="{{this.image}}" alt="Card image cap"></a>
                            <div class="card-body">
                              <h5><a href="/internalmedicine/{{this.slug}}" class="card-title">{{this.title}}</a></h5>
                                <p class="card-text" data-internalmedicine="{{this.description}}">{{this.description}}</p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                
                </div>


</div>

<script>
    // detaildescription
    const internalmedicines = document.querySelectorAll(".internalmedicine");
      
    // Loop through each element with the class "obstetrics"
    internalmedicines.forEach((element) => {
    // Get the value of the data-presentation attribute
    const internalmedicine = element.dataset.internalmedicine;
        
    // Example: Manipulate the content of each element
    element.innerHTML = internalmedicine;
    return element.textContent || element.innerText || '';
    });
</script>


